#include "midnight.dtsi"

/ {
    chosen {
        zmk,matrix-transform = &default_transform;
    };
};

&kscan {
    col-gpios
        = <&gpio1  6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Col 1 mirror: P1.06
        , <&gpio1  4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Col 2 mirror: P1.04
        , <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Col 3 mirror: P0.11
        , <&gpio1  0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Col 4 mirror: P1.00
        , <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Col 5 mirror: P0.24
        , <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Col 6 mirror: P0.22
        , <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Col 7 mirror: P0.20
        ;
};